<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <header>
        <h1>Tech Blog</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/login">Login/Signup</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="blog-posts">
            <h2>Latest Blog Posts</h2>
            <div id="posts-container">
<!-- Handlebars================================================== -->
            </div>
        </section>
    </main>

</body>
</html>